<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Universidade de Vassouras</title>
</head>
<body>
<div style="margin:auto; width:100%;">
    <div style="float:left;">
        <img alt="Logo da Universidade de Vassouras"
             src="https://www.universidadedevassouras.edu.br/layout/images/imagesiconeshead/logo_unvass.png"/>
    </div>
    <div style="background-repeat: repeat-x; height: 80px;"></div>
    <div style="margin: 10px;color: #781E20;text-align: justify;">
        <h4>
            <titulo/>
        </h4>
        <email-content/>
        <br/>
        <br/>
        <b>Nota:</b> Este e-mail é gerado automaticamente. <b>**** POR FAVOR NÃO RESPONDA ESTA MENSAGEM ****</b>
    </div>
    <div style="background-color: #781E20; width:100%; height:100px;">
        <p style="font-size: 12px; font-weight: bold; margin-top: 2px; text-align: center; color: #872632"></p>
    </div>
</div>
</body>
</html>